name: "Test Ersilia-Pack [push case: Upload to dockerhub]"
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:
  
jobs:
  ruff-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Install Ruff
        run: pip install ruff

      - name: Run Ruff
        run: ruff check --output-format=github .

  run-pytest:
    runs-on: ubuntu-latest
    needs: ruff-format
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: "3.10.10"

      - name: Install dependencies
        run: |
          conda install -y -c conda-forge git-lfs gh "numpy<=1.26.4"
          git-lfs install
          python -m pip install --upgrade pip "poetry-core>=1.8.0"
          python -m pip install -e .[test]

      - name: Run pytest
        run: |     
           pip install pytest httpx
           pytest -vv
  
  test-pipeline:
    runs-on: ubuntu-latest
    needs: run-pytest
    strategy:
      fail-fast: false
      matrix:
        include:
          - py: "3.8"
            model: eos43at
            port: 14463
          - py: "3.9"
            model: eos6oli
            port: 14567
          - py: "3.10"
            model: eos3b5e
            port: 14466
          - py: "3.11"
            model: eos5guo
            port: 17467
          - py: "3.12"
            model: eos6ojg
            port: 13468

    defaults:
      run:
        shell: bash -el {0}

    steps:
      - uses: actions/checkout@v4

      - name: Free disk space
        run: |
          docker system prune -af || true
          sudo rm -rf /usr/local/lib/android /opt/ghc /usr/share/dotnet || true
          conda clean -a -y || true
          pip cache purge || true
          df -h

      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.py }}

      - name: Install deps
        run: |
          conda install -y -c conda-forge git-lfs gh
          git-lfs install
          pip install -e .
          pip install nox requests

      - name: Setup and run redis (cache tests)
        if: matrix.py == '3.10' && matrix.model == 'eos3b5e'
        run: |
          docker run -p 6379:6379 --name redis-test -d redis:latest

      - name: Running redis cache and multiprocessing test
        if: matrix.py == '3.10' && matrix.model == 'eos3b5e'
        run: |
          nox -s ci --python 3.10 -- eos3b5e 14434 eos3b5e True False False
          nox -s ci --python 3.10 -- eos3b5e 14433 eos3b5e False True True

      - name: Run nox
        run: |
          set -e
          nox -f tests/nox/noxfile.py -s ci-${{ matrix.py }} -- \
            ${{ matrix.model }} ${{ matrix.port }} ${{ matrix.model }}

      - name: Cleanup
        if: always()
        run: |
          pkill -f uvicorn || true
          rm -rf ~/eos/repository ~/eos/erp_playground || true
          df -h


  upload_ersiliapack_to_dockerhub:
    if: ${{ github.event_name == 'push' }}
    runs-on: ubuntu-latest
    needs: test-pipeline
    strategy:
      fail-fast: false
      matrix:
        include:
          - dockerfile: Dockerfile.condapy38_23.11.0-2
            tag: ersiliaos/ersiliapack-conda-py38
            version: py38_23.11.0-2
          - dockerfile: Dockerfile.condapy39_24.7.1-0
            tag: ersiliaos/ersiliapack-conda-py39
            version: py39_24.7.1-0
          - dockerfile: Dockerfile.condapy310_24.7.1-0
            tag: ersiliaos/ersiliapack-conda-py310
            version: py310_24.7.1-0
          - dockerfile: Dockerfile.condapy311_24.7.1-0
            tag: ersiliaos/ersiliapack-conda-py311
            version: py311_24.7.1-0
          - dockerfile: Dockerfile.condapy312_24.7.1-0
            tag: ersiliaos/ersiliapack-conda-py312
            version: py312_24.7.1-0
          - dockerfile: Dockerfile.pip3.8-slim-bullseye
            tag: ersiliaos/ersiliapack-py38
            version: 3.8-slim-bullseye
          - dockerfile: Dockerfile.pip3.9-slim-bullseye
            tag: ersiliaos/ersiliapack-py39
            version: 3.9-slim-bullseye
          - dockerfile: Dockerfile.pip3.10-slim-bullseye
            tag: ersiliaos/ersiliapack-py310
            version: 3.10-slim-bullseye
          - dockerfile: Dockerfile.pip3.11-slim-bullseye
            tag: ersiliaos/ersiliapack-py311
            version: 3.11-slim-bullseye
          - dockerfile: Dockerfile.pip3.12-slim-bullseye
            tag: ersiliaos/ersiliapack-py312
            version: 3.12-slim-bullseye

    steps:
      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
    
      # log in to dockerhub
      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          

      # Check out the repository
      - name: Check out the repository
        uses: actions/checkout@v4

      # Copy and run the script from ersilia that generates the requisite Dockerfiles
      - name: Generate Dockerfiles
        env:
          VERSION: ${{ matrix.version }}
        run: |
          wget -O Dockerfile.conda https://raw.githubusercontent.com/ersilia-os/ersilia/master/dockerfiles/dockerize-ersiliapack/base/Dockerfile.conda
          wget -O Dockerfile.pip https://raw.githubusercontent.com/ersilia-os/ersilia/master/dockerfiles/dockerize-ersiliapack/base/Dockerfile.pip
          wget -O generate_dockerfiles.py https://raw.githubusercontent.com/ersilia-os/ersilia/master/dockerfiles/dockerize-ersiliapack/base/generate_dockerfiles.py
          python generate_dockerfiles.py $VERSION
          ls -l
          rm Dockerfile.conda Dockerfile.pip generate_dockerfiles.py
          ls -l

      # Build and push the Docker images
      - name: Build and push images
        uses: docker/build-push-action@v6.7.0
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ matrix.tag }}:latest